{
  "openapi": "3.0.3",
"info": {
  "title": "Telentir workspace API",
  "description": "Key authentication and encrypted object endpoints implemented by the telentir-web project.",
  "version": "1.0.0"
},
  "servers": [
    {
      "url": "https://app.telentir.com"
    },
    {
      "url": "http://localhost:3000"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/auth/login": {
      "post": {
        "summary": "Sign in with email & password",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password",
                  "remember"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "format": "password"
                  },
                  "remember": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          }
        },
        "tags": [
          "Authentication",
          "Endpoint - POST /api/auth/login"
        ]
      }
    },
    "/api/auth/register": {
      "post": {
        "summary": "Create a workspace user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "firstName",
                  "lastName",
                  "email",
                  "phone",
                  "password",
                  "confirmPassword",
                  "remember"
                ],
                "properties": {
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string",
                    "format": "password"
                  },
                  "confirmPassword": {
                    "type": "string",
                    "format": "password"
                  },
                  "remember": {
                    "type": "boolean",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Registration status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          }
        },
        "tags": [
          "Authentication",
          "Endpoint - POST /api/auth/register"
        ]
      }
    },
    "/api/api-keys": {
      "get": {
        "summary": "List API keys",
        "responses": {
          "200": {
            "description": "Keys owned by the current user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiKey"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "API Keys",
          "Endpoint - GET /api/api-keys"
        ]
      },
      "put": {
        "summary": "Create an API key",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiKeyCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New key (plaintext is returned once)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKey"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          }
        },
        "tags": [
          "API Keys",
          "Endpoint - PUT /api/api-keys"
        ]
      }
    },
    "/api/api-keys/{id}": {
      "delete": {
        "summary": "Delete an API key",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Key deleted"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        },
        "tags": [
          "API Keys",
          "Endpoint - DELETE /api/api-keys/{id}"
        ]
      }
    },
    "/api/root": {
      "get": {
        "summary": "Fetch the encrypted root object",
        "responses": {
          "200": {
            "description": "Root object describing stores and servers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RootObject"
                }
              }
            }
          }
        },
        "tags": [
          "Root",
          "Endpoint - GET /api/root"
        ]
      }
    },
    "/api/server": {
      "get": {
        "summary": "Current Telentir server metadata",
        "responses": {
          "200": {
            "description": "Server snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerSnapshot"
                }
              }
            }
          }
        },
        "tags": [
          "Servers",
          "Endpoint - GET /api/server"
        ]
      }
    },
    "/api/servers": {
      "get": {
        "summary": "List registered root servers",
        "responses": {
          "200": {
            "description": "Registered BYOK servers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RootServer"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Servers",
          "Endpoint - GET /api/servers"
        ]
      },
      "post": {
        "summary": "Register a root server",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "mode"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "generate",
                      "upload_public"
                    ]
                  },
                  "publicKey": {
                    "type": "string",
                    "description": "Base64URL encoded SPKI string (required when uploading your own key)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Server record and public key material",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RootServer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          }
        },
        "tags": [
          "Servers",
          "Endpoint - POST /api/servers"
        ]
      }
    },
    "/api/keys": {
      "put": {
        "summary": "Create or upload a store key",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "server"
                ],
                "properties": {
                  "server": {
                    "type": "string"
                  },
                  "key": {
                    "type": "string",
                    "description": "Base64 encoded AES key (optional)"
                  },
                  "iv": {
                    "type": "string",
                    "description": "Base64 encoded IV (required if key is provided)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Key ID or published key details",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "string",
                      "description": "Key ID"
                    },
                    {
                      "$ref": "#/components/schemas/StoreKey"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          }
        },
        "tags": [
          "Keys",
          "Endpoint - PUT /api/keys"
        ]
      }
    },
    "/api/keys/{id}": {
      "get": {
        "summary": "Retrieve key material",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Stored key information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreKey"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        },
        "tags": [
          "Keys",
          "Endpoint - GET /api/keys/{id}"
        ]
      },
      "delete": {
        "summary": "Delete a key",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        },
        "tags": [
          "Keys",
          "Endpoint - DELETE /api/keys/{id}"
        ]
      }
    },
    "/api/objects": {
      "put": {
        "summary": "Create an encrypted object",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EncryptedObjectInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Persisted object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EncryptedObject"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          }
        },
        "tags": [
          "Objects",
          "Endpoint - PUT /api/objects"
        ]
      }
    },
    "/api/objects/{id}": {
      "get": {
        "summary": "Fetch an encrypted object",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Encrypted object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EncryptedObject"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        },
        "tags": [
          "Objects",
          "Endpoint - GET /api/objects/{id}"
        ]
      },
      "patch": {
        "summary": "Replace ciphertext",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EncryptedObjectInput"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Updated"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        },
        "tags": [
          "Objects",
          "Endpoint - PATCH /api/objects/{id}"
        ]
      },
      "delete": {
        "summary": "Delete an encrypted object",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        },
        "tags": [
          "Objects",
          "Endpoint - DELETE /api/objects/{id}"
        ]
      }
    },
    "/api/objects/{id}/related": {
      "get": {
        "summary": "List related encrypted objects",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of encrypted objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EncryptedObject"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Objects",
          "Endpoint - GET /api/objects/{id}/related"
        ]
      }
    },
    "/api/objects/publish/{type}/{relatedId}": {
      "put": {
        "summary": "Publish an object to a logical type",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "relatedId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublishRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Published"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          }
        },
        "tags": [
          "Objects",
          "Endpoint - PUT /api/objects/publish/{type}/{relatedId}"
        ]
      },
      "delete": {
        "summary": "Unpublish an object",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "relatedId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Unpublished"
          }
        },
        "tags": [
          "Objects",
          "Endpoint - DELETE /api/objects/publish/{type}/{relatedId}"
        ]
      }
    },
    "/api/auth": {
      "get": {
        "summary": "Get auth status",
        "tags": [
          "Authentication",
          "Endpoint - GET /api/auth"
        ],
        "responses": {
          "200": {
            "description": "Current auth state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/logout": {
      "get": {
        "summary": "Log out",
        "tags": [
          "Authentication",
          "Endpoint - GET /api/auth/logout"
        ],
        "responses": {
          "200": {
            "description": "Logout confirmation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "logout"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/events/{type}": {
      "get": {
        "summary": "Subscribe to event stream",
        "tags": [
          "Events",
          "Endpoint - GET /api/events/{type}"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "key_created",
                "key_deleted",
                "object_created",
                "object_updated",
                "object_deleted",
                "publish",
                "unpublish"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SSE stream",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/connect": {
      "post": {
        "summary": "Run connector job",
        "tags": [
          "Connect",
          "Endpoint - POST /api/connect"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Job accepted"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AuthInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "phoneVerified": {
            "type": "boolean"
          },
          "twoFactorPassed": {
            "type": "boolean"
          },
          "twoFactorConfigured": {
            "type": "boolean"
          }
        }
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "phone_not_verified",
              "2fa_required",
              "error"
            ]
          },
          "token": {
            "type": "string",
            "description": "JWT returned on success"
          },
          "message": {
            "type": "string"
          },
          "auth": {
            "$ref": "#/components/schemas/AuthInfo"
          }
        }
      },
      "RegisterResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "phone_not_verified"
            ]
          },
          "token": {
            "type": "string"
          }
        }
      },
      "ApiKey": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "key": {
            "type": "string",
            "description": "Plaintext is only returned immediately after creation"
          },
          "last_used_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "ApiKeyCreateRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Friendly name displayed in the dashboard"
          }
        }
      },
      "ServerSnapshot": {
        "type": "object",
        "properties": {
          "current": {
            "type": "string"
          },
          "keys": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "application/pkix-spki": {
                  "type": "string"
                },
                "application/jwk+json": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "RootServer": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "publicKey": {
            "type": "string"
          },
          "privateKey": {
            "type": "string",
            "nullable": true,
            "description": "Only returned when Telentir generated the keypair"
          }
        }
      },
      "StoreDescriptor": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "defaultKey": {
            "type": "string"
          }
        }
      },
      "RootObject": {
        "type": "object",
        "properties": {
          "stores": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/StoreDescriptor"
            }
          },
          "servers": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "publicKey": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "StoreKey": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "server": {
            "type": "string"
          },
          "key": {
            "type": "string",
            "description": "Hex encoded AES key"
          },
          "iv": {
            "type": "string",
            "description": "Hex encoded IV"
          },
          "deprecated": {
            "type": "boolean"
          }
        }
      },
      "EncryptedObjectInput": {
        "type": "object",
        "required": [
          "keyId",
          "content",
          "authTag"
        ],
        "properties": {
          "keyId": {
            "type": "string"
          },
          "content": {
            "type": "string",
            "description": "Base64 ciphertext"
          },
          "authTag": {
            "type": "string",
            "description": "Base64 auth tag"
          },
          "relatedId": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "EncryptedObject": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EncryptedObjectInput"
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "metadata": {
                "type": "object",
                "additionalProperties": true
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        ]
      },
      "PublishRequest": {
        "type": "object",
        "required": [
          "objectId"
        ],
        "properties": {
          "objectId": {
            "type": "string"
          }
        }
      },
      "ConnectRequest": {
        "type": "object",
        "required": [
          "repository",
          "path",
          "params"
        ],
        "properties": {
          "repository": {
            "type": "string",
            "enum": [
              "contacts",
              "calls",
              "agents",
              "tasks",
              "conversational-pathways",
              "campaigns",
              "sms-messages",
              "performance-metrics"
            ]
          },
          "path": {
            "type": "string"
          },
          "params": {
            "type": "object",
            "additionalProperties": true
          }
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Bad request or server error",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "tags": [
    {
      "name": "Authentication",
      "description": "Session status, login, register, logout."
    },
    {
      "name": "API Keys",
      "description": "Create, list, and delete Telentir API keys."
    },
    {
      "name": "Root",
      "description": "Root object metadata and stores."
    },
    {
      "name": "Servers",
      "description": "Server metadata and BYOK registration."
    },
    {
      "name": "Keys",
      "description": "Manage encryption keys."
    },
    {
      "name": "Objects",
      "description": "Encrypted object CRUD and publish actions."
    },
    {
      "name": "Events",
      "description": "Server-sent events for key/object/publish changes."
    },
    {
      "name": "Connect",
      "description": "Data ingestion via connector jobs."
    },
    {
      "name": "Endpoint - GET /api/auth",
      "description": "Auto-generated tag for Endpoint - GET /api/auth."
    },
    {
      "name": "Endpoint - POST /api/auth/login",
      "description": "Auto-generated tag for Endpoint - POST /api/auth/login."
    },
    {
      "name": "Endpoint - POST /api/auth/register",
      "description": "Auto-generated tag for Endpoint - POST /api/auth/register."
    },
    {
      "name": "Endpoint - GET /api/auth/logout",
      "description": "Auto-generated tag for Endpoint - GET /api/auth/logout."
    },
    {
      "name": "Endpoint - GET /api/api-keys",
      "description": "Auto-generated tag for Endpoint - GET /api/api-keys."
    },
    {
      "name": "Endpoint - PUT /api/api-keys",
      "description": "Auto-generated tag for Endpoint - PUT /api/api-keys."
    },
    {
      "name": "Endpoint - DELETE /api/api-keys/{id}",
      "description": "Auto-generated tag for Endpoint - DELETE /api/api-keys/{id}."
    },
    {
      "name": "Endpoint - GET /api/root",
      "description": "Auto-generated tag for Endpoint - GET /api/root."
    },
    {
      "name": "Endpoint - GET /api/server",
      "description": "Auto-generated tag for Endpoint - GET /api/server."
    },
    {
      "name": "Endpoint - GET /api/servers",
      "description": "Auto-generated tag for Endpoint - GET /api/servers."
    },
    {
      "name": "Endpoint - POST /api/servers",
      "description": "Auto-generated tag for Endpoint - POST /api/servers."
    },
    {
      "name": "Endpoint - PUT /api/keys",
      "description": "Auto-generated tag for Endpoint - PUT /api/keys."
    },
    {
      "name": "Endpoint - GET /api/keys/{id}",
      "description": "Auto-generated tag for Endpoint - GET /api/keys/{id}."
    },
    {
      "name": "Endpoint - DELETE /api/keys/{id}",
      "description": "Auto-generated tag for Endpoint - DELETE /api/keys/{id}."
    },
    {
      "name": "Endpoint - PUT /api/objects",
      "description": "Auto-generated tag for Endpoint - PUT /api/objects."
    },
    {
      "name": "Endpoint - GET /api/objects/{id}",
      "description": "Auto-generated tag for Endpoint - GET /api/objects/{id}."
    },
    {
      "name": "Endpoint - PATCH /api/objects/{id}",
      "description": "Auto-generated tag for Endpoint - PATCH /api/objects/{id}."
    },
    {
      "name": "Endpoint - DELETE /api/objects/{id}",
      "description": "Auto-generated tag for Endpoint - DELETE /api/objects/{id}."
    },
    {
      "name": "Endpoint - GET /api/objects/{id}/related",
      "description": "Auto-generated tag for Endpoint - GET /api/objects/{id}/related."
    },
    {
      "name": "Endpoint - PUT /api/objects/publish/{type}/{relatedId}",
      "description": "Auto-generated tag for Endpoint - PUT /api/objects/publish/{type}/{relatedId}."
    },
    {
      "name": "Endpoint - DELETE /api/objects/publish/{type}/{relatedId}",
      "description": "Auto-generated tag for Endpoint - DELETE /api/objects/publish/{type}/{relatedId}."
    },
    {
      "name": "Endpoint - GET /api/events/{type}",
      "description": "Auto-generated tag for Endpoint - GET /api/events/{type}."
    },
    {
      "name": "Endpoint - POST /api/connect",
      "description": "Auto-generated tag for Endpoint - POST /api/connect."
    }
  ]
}